.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 25px;

}

.navbar-list {
    display: flex;

    list-style-type: none;
    padding-left: 800px;
}

.navbar-item {
    padding-left: 25px;
}

.navbar-item a{
    
    color: #fff;
    text-decoration: none;
}